@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 220, 197, 192;  /* pale-silver */
  --background-rgb: 39, 41, 50;     /* raisin-black */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 